<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marée</title>

        <!-- favicon  -->
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
        <link rel="manifest" href="img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- /favicon  -->

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&family=Playfair+Display:ital,wght@1,400;1,700&display=swap" rel="stylesheet">    <!-- /google font -->
        <!-- /google font -->

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <!-- /fontawesome -->

        <!-- style  -->
        <link rel="stylesheet" href="dist/style.css">
        <!-- /style  -->
    </head>
    <body>
        <div id="root">
            <header>
                <div class="container"> 
                    <!-- header__left -->
                    <a href=""><img src="img/logo.png" alt="logo"></a>
                    <!-- / header__left -->
            
                    <!-- header__right -->
                    <div class="header__right">
                        <!-- header__right__left -->
                        <nav>
                            <ul>
                                <li v-for="page in pages"><a class="primaryLink" href="#">{{ page }}</a></li>
                            </ul>
                        </nav>
                        <!-- / header__right__left -->
        
                        <!-- header__right__right -->
                        <button class="nav__btn"><img src="img/svg/menu.svg" alt="menu"></button>
                        <!-- / header__right__right -->
                    </div>
                    <!-- header right -->
                </div>
            </header>
            <main>
                <div id="hero">
                    <div class="carousel">
                        <div class="illustration">
                            <img v-for="element in slider.illustration.elements" 
                                 :src="element.completeUrl" 
                                 :alt="element.famiglia || 'main'" 
                                 :class="element.class || 'main ' + 'main--' + element.position ">
                        </div>
                        <div class="wrapper">
                            <div class="container">
                                <!-- freccia sx -->
                                <i class="fas fa-chevron-left arrow arrow--l"></i>  
                                <!-- /freccia sx -->

                                <!-- parte centrale -->
                                <div class="container container--s center">
                                    <!-- centrale superiore -->
                                    <div class="centre-top">
                                        <!-- heading -->
                                        <div>
                                            <h2>Devotions that never <span>ends</span></h2>
                                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                                            <button class="btn--outline--sec">read more</button>
                                        </div>
                                        <!-- /heading -->
                                    </div>
                                    <!-- / centrale superiore -->

                                    <!-- centrale inferiore - bullet -->
                                    <div class="bullet__wrapper">
                                        <ul>
                                            <li class="bullet"></li>
                                            <li class="bullet"></li>
                                            <li class="bullet active"></li>
                                        </ul>
                                    </div>
                                    <!-- /centrale inferiore - bullet -->
                                </div>
                                <!-- /parte centrale -->

                                <!-- freccia dx -->
                                <i class="fas fa-chevron-right arrow arrow--r"></i>
                                <!-- / freccia dx -->
                            </div>
                        </div>
                    </div>
                </div>
                <section id="portfolio">
                    <div class="proj" v-for="work in portfolio.works">
                        <img :src="portfolio.path + work.imgNum + '.jpg'" :alt="'portfolio-' + work.imgNum">
                        <div class="caption__wrapper">
                            <div class="caption">
                                <h4>{{ work.desc }}</h4>
                                <a class="caption__sec">{{ work.sec }}</a>
                            </div>
                        </div> 
                    </div>
                </section>
                <section id="process" class="centered">
                    <div class="container container--s">
                        <h3>Working <span>process</span></h3>
                        <div class="steps__wrapper">
                            <!-- icons -->
                            <div class="steps">
                                <div v-for="step in process.steps" class="process__step">
                                    <div class="process__icon">
                                        <i :class="(step.full ? process.styleFull : process.styleEmpty) + ' ' + process.family + step.icon + ' ' + step.color"></i>
                                    </div>
                                    <div class="process__caption">
                                        <h5>{{ step.title }}</h5>
                                        <p class="process__desc">{{ step.desc }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- / icons -->
                            <!-- bg image -->
                            <img id="line-process" src="img/svg/process-line.svg" alt="process-line">
                            <!-- / bg image -->
                        </div>
                    </div>
                    
                </section>
                <section id="contact" class="centered">
                    <div class="container container--m">
                        <h3>Want to work with us? Send us a <span>message</span></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam, corporis dolore corrupti eligendi illo reprehenderit totam culpa amet. Maxime pariatur in nobis fugiat commodi molestias molestiae necessitatibus quidem aut!</p> 
                        <button class="btn--primary">contact</button>   
                    </div>
                </section>
                <section id="blog">
                    <div class="container container--s">
                        <article v-for="(article, index) in blog.articles">
                            <a href="#">
                                <!-- article top -->
                                <div class="img__wrapper">
                                    <img :src="article.completePath" :alt="'article-' + (index+1)">
                                </div>
                                <!-- / article top -->
                                <!-- article bottom -->
                                <h6>{{ article.title }}</h6>
                            </a>
                            <p class="author">by <a href="#">{{ article.author }}</a></p>
                            <!-- / article bottom -->
                            <!-- bandiera pubblicazione -->
                            <div class="date">
                                <div class="day">
                                    <p>{{ article.date.day }}</p>
                                </div>
                                <div class="month">
                                    <p>{{ article.date.month }} '{{ article.date.year }}</p>
                                </div>
                            </div>
                            <!-- bandiera pubblicazione -->
                        </article>
                    </div>
                </section> 

                <!-- elementi fixed -->
                
                <div class="fixed fixed__center">
                    <div class="circle">
                        <a href="#">
                            <img src="img/svg/circle-neg.svg" alt="circle">
                        </a>
                    </div>
                    <div class="cart">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>

                <!-- freccia torna su -->
                <div class="fixed up">
                    <a href="#root">
                        <img src="img/svg/frecca-up.svg" alt="torna su">
                    </a>
                </div>
                <!-- / freccia torna su -->
                <!-- / elementi fixed -->

            </main>
            <footer>
                <div class="container container--s">
                    <div class="column">
                        <img src="img/logo.png" alt="logo footer">
                        <p>Let’s Get Creative</p>
                    </div>
                    <div class="column">
                        <p>{{ footer.mail }}</p>
                        <p>{{ footer.phone }}</p>
                    </div>
                    <div class="column">
                        <p>{{ footer.address.street }}</p>
                        <p>{{ footer.address.city }}</p>
                    </div>
                    <div class="column">
                        <p>Stay in touch with us</p>
                        <ul class="social__list">
                            <li v-for="item in footer.social"><a :href="item.socialLink"><i :class="item.socialIcon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        

        </div>

        <!-- Vue  -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!-- /Vue  -->
        <script src="js/script.js"></script>
        
    </body>
</html>