<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marée</title>

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&family=Playfair+Display:ital,wght@1,400;1,700&display=swap" rel="stylesheet">    <!-- /google font -->
        <!-- /google font -->

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <!-- /fontawesome -->

        <!-- style  -->
        <link rel="stylesheet" href="dist/style.css">
        <!-- /style  -->
    </head>
    <body>
        <div id="root">
            <header>
                <div class="container">
                    <!-- header__left -->
                    <a href=""><img src="img/logo.png" alt="logo"></a>
                    <!-- / header__left -->
            
                    <!-- header__right -->
                    <div class="header__right">
                        <!-- header__right__left -->
                        <nav>
                            <ul>
                                <li v-for="page in pages"><a class="primaryLink" href="#">{{ page }}</a></li>
                            </ul>
                        </nav>
                        <!-- / header__right__left -->
        
                        <!-- header__right__right -->
                        <a href=""><img src="img/svg/menu.svg" alt="menu"></a>
                        <!-- / header__right__right -->
                    </div>
                    <!-- header right -->
                </div>
            </header>
            <main>
                <div id="hero">
                    <div class="carousel">
                        <div class="illustration">
                            <img v-for="element in slider.illustration.elements" 
                                 :src="element.completeUrl" 
                                 :alt="element.famiglia || 'main'" 
                                 :class="element.class || 'main ' + 'main--' + element.position ">
                        </div>
                        <div class="wrapper">
                            <div class="container">
                                <!-- freccia sx -->
                                <i class="fas fa-chevron-left arrow"></i>  
                                <!-- /freccia sx -->

                                <!-- parte centrale -->
                                <div class="container container--s center">
                                    <!-- centrale superiore -->
                                    <div class="centre-top">
                                        <div class="heading">
                                            <h2>Devotions that never <span>ends</span></h2>
                                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                                            <button class="btn--outline--sec">read more</button>
                                        </div>
                                    </div>
                                    <!-- / centrale superiore -->

                                    <!-- centrale inferiore - bullet -->
                                    <div class="bullet__wrapper">
                                        <ul>
                                            <li class="bullet"></li>
                                            <li class="bullet"></li>
                                            <li class="bullet active"></li>
                                        </ul>
                                    </div>
                                    <!-- /centrale inferiore - bullet -->
                                </div>
                                <!-- /parte centrale -->

                                <!-- freccia dx -->
                                <i class="fas fa-chevron-right arrow"></i>
                                <!-- / freccia dx -->
                            </div>
                        </div>
                    </div>
                </div>
                <section id="portfolio">
                    <div class="proj" v-for="work in portfolio.works">
                        <img :src="portfolio.path + work.imgNum + '.jpg'" :alt="'portfolio-' + work.imgNum">
                        <div class="caption__wrapper">
                            <div class="caption">
                                <h3>{{ work.desc }}</h3>
                                <a class="caption__sec">{{ work.sec }}</a>
                            </div>
                        </div> 
                    </div>
                </section>
                <section id="process"></section>
                <section id="contact"></section>
                <section id="blog"></section>
            </main>
            <footer>
        
            </footer>
        

        </div>

        <!-- Vue  -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!-- /Vue  -->
        <script src="js/script.js"></script>
        
    </body>
</html>