button {
    display: inline-block;
    padding: 20px 35px;
    border: none;

    font-family: 'Mulish', sans-serif;
    font-size: $pS;
    font-weight: $fontReg;
    color: $primaryTextColor;

    &.btn--primary {
        background-color: $primaryColor;

        // &:hover {
        //     background-color: $secondaryColor;
        // }
    }

    // &.btn--neg {
    //     background-color: transparent;
    //     border: 2px solid $textColor--neg;
    //     //responsive
    //     @include screen(med) {
    //     border-width: 1px;
    //     }
    //     @include screen(xlg) {
    //     border-width: 2px;
    //     }

    //     &:hover {
    //         background-color: $textColor--neg;
    //         color: $textColor;
    //     }
    // }

}