header {
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
}
header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .header__right {
        display: flex;
        align-items: center;

        nav {
            margin-right: 25px;
            display: none;

            @include screen(l) {
                display: block;
            }

            ul {
                display: flex;
                list-style: none;

                li {
                    position: relative;
                    a {
                        display: inline-block;
                        padding: 40px 25px;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 49px;
                        bottom: 41px;
                        left: 23px;
                        right: 100%;
                        background-color: $secondaryColor;
                        z-index: -1;
                        transition: right 0.3s;
                    }

                    &:hover::before {
                        right: 20px;
                    }
                }
            }
        }

        button.nav__btn {
            padding: 25px 0;

            //responsive 
            @include screen (l) {
                display: none;
            }
        }
    }
}