#hero {
    height: 600px;
    position: relative;

    .illustration {
        img {
            position: absolute;
        }

        .l-t{
            bottom: 460px;
            right: 810px;
        }
        .l-c{
            bottom: 250px;
            right: 900px;
        }
        .l-b{
            bottom: 107px;
            right: 860px;
        }
        .main{
            bottom: 100px;
            height: 370px;
            &--left {
                right: 530px;
            }
            &--right {
                right: 260px;
            }
        }
        .r-t{
            bottom: 470px;
            right: 300px;
        }
        .r-c{
            bottom: 380px;
            right: 250px;
        }
        .r-b{
            bottom: 100px;
            right: 200px;
        }
    }

    .carousel {
        height: 100%;

        .wrapper {
            display: flex;
            align-items: center;
            height: 100%;

            .center {
                display: flex;
            height: 100%;
            flex-direction: column;

                .heading {
                    flex-grow: 1;
                }
            }
        }
    }
};



