#portfolio {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    overflow: hidden;

    .proj {
        position: relative;

        //responsive
        @include screen (m) {
            width: calc(100% / 2);
        }
        @include screen (l) {
            width: calc(100% / 3);
        }
        
        img {
            width: 100%;
            display: block;
        }

        .caption__wrapper {
            position: absolute;
            left: 0;
            bottom: 50px;
            right: 0;
            z-index: 1;
            overflow: hidden;

            //responsive
            @include screen (l) {
                bottom: 20px;
            }
            @include screen (xl) {
                top: 0;
                bottom: 0;
            }

            .caption {
                left: 0;
                display: inline-block;
                background-color: #fff;
                padding: 12px 20px 20px;
                position: relative;
                
                //responsive
                @include screen (xl) {
                    padding: 25px 35px 35px;
                    left: -100%;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all .6s;
                }

                &__sec {
                    font-family: $primaryFont;
                    font-size: $pS;
                    font-weight: $fontReg;
                    display: inline-block;
                    margin-top: 2px;

                    //responsive
                    @include screen (xl) {
                    font-size: $pM;
                    margin-top: 5px;

                    }
                }
            }

            &:hover  .caption {
                left: 0;
            }
        }
    }  
}