#process {
    .steps__wrapper {
        display: flex;
        justify-content: space-between;

        .process__step {
            flex-basis: calc( (100% - (32px * 3 ) ) / 4);
            display: flex;
            flex-wrap: wrap;
            
            .process__icon {
                height: 160px;
                width: 160px;
                border-radius: 50%;
                background-color: $neutralColor;
                margin: 0 auto 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 40px;
                }

            }
            .process__desc {
                font-size: $pM;
                font-weight: $fontXLight;
                line-height: 1.8;
            }
        }

    }
}