#process {
    .steps__wrapper {
        position: relative;
        margin-top: 70px;
    }

    .steps {
        @include screen(l) {
            display: flex;
            justify-content: space-between;
        }

        .process__step {
            padding: 0 50px;

            @include screen(l) {
                display: flex;
                flex-wrap: wrap;    
                flex-basis: calc( (100% - (32px * 3 ) ) / 4);
                padding: inherit;
            }
            
            .process__icon {
                height: 160px;
                width: 160px;
                border-radius: 50%;
                background-color: $neutralColor;
                margin: 0 auto 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.5s;

                i {
                    font-size: 40px;
                }
            }
            
            .process__desc {
                font-size: $pM;
                font-weight: $fontXLight;
                line-height: 1.8;
            }

            &:hover .process__icon{
                transform: scale(1.1);
            }
        }

        .process__step:not(:last-child) {
            margin-bottom: 50px;

            //responsive 
            @include screen(l) {
                margin-bottom: inherit;
            }
        }
    }

    #line-process {
        display: none;

        //responsive 
        @include screen (l) {
            display: block;
            position: absolute;
            top: 0;    
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            z-index: -2;
        }
    }
}