body {
    font-family: $primaryFont;
    font-family: $secondaryFont;
}

a {
    color: $primaryTextColor;
    text-decoration: none;
    font-size: $pS;

    &.primaryLink {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: $fontBold;
    }

    &:hover {
        cursor: pointer;
    }
}

h2 {
    font-family: $secondaryFont;
    font-size: $headingXL;
    font-weight: $fontLight;
    line-height: 1;
    margin-bottom: 40px;

}

h3 {
    font-family: $secondaryFont;
    font-size: $headingL;
    font-weight: $fontReg;

}

h2, h3 {
    span {
        font-family: $primaryFont;
        font-weight: $fontBold;
    }
}


h4 {
    font-family: $secondaryFont;
    font-size: $headingM;
    font-weight: $fontReg;
}

h5 {
    font-family: $secondaryFont;
    font-size: $headingS;
    font-weight: $fontReg;
    margin-bottom: 20px;
}

p {
    font-size: $pS;
    font-weight: $fontLight;
    color: $secondaryTextColor;
}

//helper cambio colore
.primaryColorDark {
    color: $primaryColorDark;
}

.supportColor-1 {
    color: $supportColor-1;
}

.supportColor-2 {
    color: $supportColor-2;
}

.supportColor-3 {
    color: $supportColor-3;
}