//Palette
    //Primary
    $primaryColor: #D5ECE0;
    $primaryColorDark: #C0E1CF;
    $primaryColorLight: #D8F0E3;

    //Secondary
    $secondaryColor: #F2D0C7;
    $secondaryColorDark: #E1C0B0;

    //Neutral
    $neutralColor-1: #F9F9F9;
    $neutralColor-2: #FAF7F2;

    //Support
    $supportColor-1: #FAD02C;
    $supportColor-2: #80465F;
    $supportColor-3: #EB6950;
    $supportColor-4: #EF2853;

    //Text
    $primaryTextColor: #000;
    $secondaryTextColor: #898989;
// /Palette

//Font
    //Typo
    $primaryFont: 'Playfair Display', serif;
    $secondaryFont: 'Mulish', sans-serif;

    //Title-size
    $headingS: 21px;
    $headingM: 26px;
    $headingL: 65px;
    $headingXL: 90px;

    //Title-Weight
    $fontBold: 700;

    //Paragraph-size
    $pS: 13px;
    $pM: 16px;
    $pL: 20px;

    //Paragraph-Weight
    $fontLight: 300;
    $fontReg: 400;
    $fontMed: 500;

    //Spacing
    $letterSpacing: 2px;
// /Font